<!doctype html>
<html lang="en-us">
    <head>
        <!--google font link here-->
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
      <!--end google font link-->
        <meta charset="UTF-8">
        <title>DUSPelunker</title>
        <link rel="stylesheet" href="css/base.css" type="text/css"/>
    </head>
    <body>
        <div id="geom_background"></div>
        <div class="header key">
            <div class="category" string="topic">
                TOPICS
            </div>
            <div class="category" string="person">
                PEOPLE
            </div>
            <div class="category" string="project">
                PROJECTS
            </div>
        </div>
        <div id="node_container">
        {{#nodes}}
            <div id="{{id}}" class="node {{type}}">
                <div class="node-title"><span>{{name}}</span></div>
                <div class="node-details">
                    <div class="node-description">{{description}}</div>
                    {{!pic}}
                    <!--<div class="node-image">-->
                        <!--<img src="../../../data/faculty_photos/{{pic}}" />-->
                    <!--</div>-->
                    {{!pic}}
                </div>
            </div>
        {{/nodes}}
        </div>
        <div id="switch-template" class="expansion-switch">
            <svg width="24px" height="10px">
                <g class="chevron_single">
                    <polygon points="0,5 12,1.5 24,5 24,8.5 12,5 0,8.5 "/>
                </g>
            </svg>
        </div>
    
        <script type="text/javascript" >
            var graph = {{{graph}}};
        </script>
        <script type="text/javascript" src="lib/jquery.min.js"></script>
        <script type="text/javascript" src="lib/d3.v3.min.js"></script>
        <script type="text/javascript" src="dusp_graph.js"></script>
    </body>
</html>





